<!DOCTYPE HTML>
<html>
<head>
	<title>Fortine</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" type="image/ico" href="favicon.ico">
	
	<link rel="stylesheet" href="css/style.css" type="text/css">
	
</head>
<body>
	<header class="contain">
		<div class="header_left">
			<a href="/" class="logo"><img src="img/logo.svg"> Gametrim</a>
			<a href="/" class="menu_item">Homepage</a>
			<a href="/answers.html" class="menu_item">Question & Answer</a>
		</div>
		<div class="header_right">
			<a href="#" class="bt_login">LOGIN</a>
		</div>
	</header>
	<div class="page">
		<div class="main">
			<div class="top_bg">
				<img src="img/main_bg.jpg">
				<div class="top_block txt_center">
					<h1>Mostre seu talento e consiga visibilidade.</h1>
					<p class="top_block_descr">Comece sua equipe ou entre em uma para participar e apareça para o mundo ver seu potencial</p>
					<div class="top_bt_block"><a href="" class="top_bt viol_bt">Veja os torneios</a></div>
				</div>
			</div>
			<div class="main_block">
				<div class="main_block_in">
					<div class="contain">
						<div class="price_block mrgb120">
							<p class="price_list_hd">Best of mounth</p>
							<div class="price_list">
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item1.png"></div>
									<p class="price_item_name">New to Town</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item2.png"></div>
									<p class="price_item_name">Coconut Chill</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item3.png"></div>
									<p class="price_item_name">Sunburn</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item4.png"></div>
									<p class="price_item_name">Catching waves</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item5.png"></div>
									<p class="price_item_name">Steel Samurai</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item6.png"></div>
									<p class="price_item_name">Tropic Boom</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
							</div>
						</div>
						<div class="price_block mrgb120">
							<div class="case_bg"><img src="img/open_cases.svg"></div>
							<p class="price_list_hd">Best of the day</p>
							<div class="price_list">
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item1.png"></div>
									<p class="price_item_name">New to Town</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item2.png"></div>
									<p class="price_item_name">Coconut Chill</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item3.png"></div>
									<p class="price_item_name">Sunburn</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item4.png"></div>
									<p class="price_item_name">Catching waves</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item5.png"></div>
									<p class="price_item_name">Steel Samurai</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item6.png"></div>
									<p class="price_item_name">Tropic Boom</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
							</div>
						</div>
						<div class="price_block mrgb120">
							<p class="price_list_hd">Rare cases</p>
							<div class="price_list">
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item1.png"></div>
									<p class="price_item_name">New to Town</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item2.png"></div>
									<p class="price_item_name">Coconut Chill</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item3.png"></div>
									<p class="price_item_name">Sunburn</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item4.png"></div>
									<p class="price_item_name">Catching waves</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item5.png"></div>
									<p class="price_item_name">Steel Samurai</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
								<div class="price_item">
									<a href="#">
									<div class="price_item_img"><img src="img/pr_item6.png"></div>
									<p class="price_item_name">Tropic Boom</p>
									<span class="price_item_cost">$3.46</span>
									</a>
								</div>
							</div>
						</div>
						<div class="botblock"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="bg"></div>
	<div class="login_popup popup_block">
		<p class="login_pup_hd">Log in to <br>your account</p>
		<form name="login_form">
			<p class="form_inp_hd">Enter your email address</p>
			<div class="chgname_inprow">
				<input type="text" class="drop_data_inp" name="email" value="@game100pvs1"> <span><img src="img/ico_check.svg"></span>
			</div>
			<p class="form_inp_hd">Enter your password</p>
			<div class="chgname_inprow">
				<input type="text" class="drop_data_inp" name="password" value="dHOEZoPuRIClPhHL"> <span><img src="img/ico_check.svg"></span>
			</div>
			<p class="form_inp_hd">Сhoose your platform</p>
			<div class="chgname_inprow">
				<input type="text" class="drop_data_inp" name="name" value="@game37op1"> <span><img src="img/ico_check.svg"></span>
			</div>
			<p class="form_inp_hd">Сhoose your platform</p>
			<div class="platform_list">
				<span class="platform_item"><img src="img/ico_pl_ps.svg"></span>
				<span class="platform_item"><img src="img/ico_pl_xb.svg"></span>
				<span class="platform_item"><img src="img/ico_pl_nint.svg"></span>
				<span class="platform_item"><img src="img/ico_pl_apple.svg"></span>
				<span class="platform_item"><img src="img/ico_pl_wind.svg"></span>
				<span class="platform_item"><img src="img/ico_pl_andr.svg"></span>
			</div>
			<a href="#" class="drop_mid_confirm">Confirm</a>
		</form>
	</div>
	
	
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>