<!DOCTYPE HTML>
<html>
<head>
	<title>Fortine</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" type="image/ico" href="favicon.ico">
	
	<link rel="stylesheet" href="css/style.css" type="text/css">
	
</head>
<body class="opencase_page">
	<header class="contain ">
		<div class="header_left">
			<a href="/" class="logo"><img src="img/logo.svg"> Gametrim</a>
			<a href="/" class="menu_item">Homepage</a>
			<a href="/answers.html" class="menu_item">Question & Answer</a>
		</div>
		<div class="header_right">
			<div class="header_money">
				<div class="acc_summ"><span>$</span> 4,700</div>
				<div class="acc_pay"><a href=""><img src="img/ico_wallet.svg"></a></div>
				<div class="hd_line onmob"></div>
				<div class="acc_img onmob"><img src="img/acc_img.png"></div>
			</div>
			<div class="header_acc">
				<div class="acc_img"><img src="img/acc_img.png"></div>
				<span class="acc_name">@game37op1</span>
				<a href="#" class="acc_logout"><img src="img/ico_logout.svg"></a>
			</div>
			<div class="mob_bt"><img src="img/ico_mobmenu.svg"></div>
		</div>
	</header>
	<div class="page">
		<div class="opencase">
			<div class="ocase_scroll_block">
				<div class="ocase_window"><img src="img/ocase_window.png"></div>
				<div class="ocase_ardnw"></div>
					<div class="ocase_scroll">
						<div class="ocase_scroll_item"><img src="img/ocase_item.png"></div>
					</div>
				<div class="ocase_arup"></div>
			</div>
			<div class="opencase_botoom">
				<span class="price_item_cost">$3.46</span>
				<a href="scrollcase.html" class=""><img src="img/open_case.svg"></a>
			</div>
		</div>
		<div class="skin_block">
			<div class="hd_block">Skin in this case</div>
			<div class="contain">
				<div class="case_list">
					<div class="case_item item_blue">
							<div class="item_top_plank"></div>
							<p class="item_mod">M4A1-S</p>
							<p class="item_name">Nightmare</p>
							<p class="item_descr">Factory new</p>
							<div class="item_img"><img src="img/akr_sport_60.png"></div>
						</div>
						<div class="case_item item_blue">
							<div class="item_top_plank"></div>
							<p class="item_mod">M4A1-S</p>
							<p class="item_name">Nightmare</p>
							<p class="item_descr">Factory new</p>
							<div class="item_img"><img src="img/akr_sport_60.png"></div>
						</div>
						<div class="case_item item_pink">
							<div class="item_top_plank"></div>
							<p class="item_mod">M4A1-S</p>
							<p class="item_name">Nightmare</p>
							<p class="item_descr">Factory new</p>
							<div class="item_img"><img src="img/akr_sport_60.png"></div>
						</div>
						<div class="case_item item_pink">
							<div class="item_top_plank"></div>
							<p class="item_mod">M4A1-S</p>
							<p class="item_name">Nightmare</p>
							<p class="item_descr">Factory new</p>
							<div class="item_img"><img src="img/akr_sport_60.png"></div>
						</div>
						<div class="case_item item_yel">
							<div class="item_top_plank"></div>
							<p class="item_mod">M4A1-S</p>
							<p class="item_name">Nightmare</p>
							<p class="item_descr">Factory new</p>
							<div class="item_img"><img src="img/akr_sport_60.png"></div>
						</div>
						<div class="case_item item_yel">
							<div class="item_top_plank"></div>
							<p class="item_mod">M4A1-S</p>
							<p class="item_name">Nightmare</p>
							<p class="item_descr">Factory new</p>
							<div class="item_img"><img src="img/akr_sport_60.png"></div>
						</div>
						<div class="case_item item_blue">
							<div class="item_top_plank"></div>
							<p class="item_mod">M4A1-S</p>
							<p class="item_name">Nightmare</p>
							<p class="item_descr">Factory new</p>
							<div class="item_img"><img src="img/akr_sport_60.png"></div>
						</div>
						<div class="case_item item_pink">
							<div class="item_top_plank"></div>
							<p class="item_mod">M4A1-S</p>
							<p class="item_name">Nightmare</p>
							<p class="item_descr">Factory new</p>
							<div class="item_img"><img src="img/akr_sport_60.png"></div>
						</div>
						<div class="case_item item_yel">
							<div class="item_top_plank"></div>
							<p class="item_mod">M4A1-S</p>
							<p class="item_name">Nightmare</p>
							<p class="item_descr">Factory new</p>
							<div class="item_img"><img src="img/akr_sport_60.png"></div>
						</div>
						<div class="case_item item_blue">
							<div class="item_top_plank"></div>
							<p class="item_mod">M4A1-S</p>
							<p class="item_name">Nightmare</p>
							<p class="item_descr">Factory new</p>
							<div class="item_img"><img src="img/akr_sport_60.png"></div>
						</div>
				</div>
			</div>
		</div>
	</div>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>