<!DOCTYPE HTML>
<html>
<head>
	{% load static %}
	<title>Fortine</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	
</head>
<body>
	<header class="contain">
		<div class="header_left">
			<a href="/" class="logo"><img src="https://i.ibb.co/99Ryg1T5/IMG-8976-removebg-preview.png" style="width: 200px; height: 200px;"></a>
			<a href="/" class="menu_item">Homepage</a>
			<a href="{% url 'answers' %}" class="menu_item">Question & Answer</a>
		</div>
		<div class="header_right">
			{% if request.user.is_authenticated %}
				<a href="/accounts/" class="mobile_nav_item mobile_account">ACCOUNT</a>
			{% else %}
				<a href="{% url 'login' %}" class="mobile_nav_item mobile_login" id="mobile-auth-button">LOGIN</a>
			{% endif %}
		</div>
		<!-- Мобильное меню -->
		<div class="mobile_menu_toggle" id="mobile-menu-toggle">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</header>
	
	<!-- Мобильное меню -->
	<div class="mobile_menu" id="mobile-menu">
		<div class="mobile_menu_header">
			<a href="/" class="mobile_logo"><img src="https://i.ibb.co/99Ryg1T5/IMG-8976-removebg-preview.png" style="width: 200px; height: 200px;"></a>
			<button class="mobile_menu_close" id="mobile-menu-close">&times;</button>
		</div>
		<nav class="mobile_nav">
			<a href="/" class="mobile_nav_item">Homepage</a>
			<a href="{% url 'answers' %}" class="mobile_nav_item">Question & Answer</a>
			<a href="{% url 'login' %}" class="mobile_nav_item mobile_login" id="mobile-auth-button">LOGIN</a>
		</nav>
	</div>
	
	<div class="page">
		<div class="answers">
			<div class="top_bg">
				<img src="{% static 'img/answers_bg.jpg' %}">
				<div class="top_block">
					<h1>Questions and answers</h1>
					<p class="top_block_descr">Comece sua equipe ou entre em uma para participar e apareça para o mundo ver seu potencial</p>
					<a href="" class="top_bt viol_bt">Criar torneio</a>
				</div>
			</div>
			<div class="answers_block">
				<div class="contain">
					{% if faqs %}
						{% for faq in faqs %}
							<div class="answers_item">
								<div class="answers_row">
									<p>{{ faq.question }}</p>
									<span class="answer_plus"></span>
								</div>
								<div class="answer_txt">{{ faq.answer|linebreaksbr }}</div>
							</div>
						{% endfor %}
					{% else %}
						<p style="text-align:center; opacity:0.7;">No questions yet.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>