<!DOCTYPE HTML>
<html>
<head>
	{% load static %}
	<title>Fortine</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}">
	
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	
</head>
<body>
	<header class="contain">
		<div class="header_left">
			<a href="/" class="logo"><img src="{% static 'img/logo.svg' %}"> Gametrim</a>
			<a href="/" class="menu_item">Homepage</a>
			<a href="{% url 'answers' %}" class="menu_item">Question & Answer</a>
			
		</div>
		<div class="header_right">
			{% if request.user.is_authenticated %}
				<a href="/accounts/" class="bt_login" id="auth-button">ACCOUNT</a>
			{% else %}
				<a href="{% url 'login' %}" class="bt_login" id="auth-button">LOGIN</a>
			{% endif %}
		</div>
		<!-- Мобильное меню -->
		<div class="mobile_menu_toggle" id="mobile-menu-toggle">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</header>
	
	<!-- Мобильное меню -->
	<div class="mobile_menu" id="mobile-menu">
		<div class="mobile_menu_header">
			<a href="/" class="mobile_logo"><img src="{% static 'img/logo.svg' %}"> Gametrim</a>
			<button class="mobile_menu_close" id="mobile-menu-close">&times;</button>
		</div>
		<nav class="mobile_nav">
			<a href="/" class="mobile_nav_item">Homepage</a>
			<a href="{% url 'answers' %}" class="mobile_nav_item">Question & Answer</a>
			{% if request.user.is_authenticated %}
				<a href="/accounts/" class="mobile_nav_item mobile_account">ACCOUNT</a>
			{% else %}
				<a href="{% url 'login' %}" class="mobile_nav_item mobile_login" id="mobile-auth-button">LOGIN</a>
			{% endif %}
		</nav>
	</div>
	
	<div class="page">
		<div class="main">
			<div class="top_bg">
				<img src="{% static 'img/main_bg.jpg' %}">
				<div class="top_block txt_center">
					<h1>Mostre seu talento e consiga visibilidade.</h1>
					<p class="top_block_descr">Comece sua equipe ou entre em uma para participar e apareça para o mundo ver seu potencial</p>
					<div class="top_bt_block"><a href="" class="top_bt viol_bt">Veja os torneios</a></div>
				</div>
			</div>
			<div class="main_block">
				<div class="main_block_in">
					<div class="contain">
						{% if categories %}
							{% for category in categories %}
								<div class="price_block mrgb120">
									<p class="price_list_hd">{{ category.name }}</p>
									<div class="price_list">
										{% for case in category.cases.all %}
											<div class="price_item">
												<a href="{% url 'cases:opencase' %}?case_id={{ case.id }}">
													<div class="price_item_img">
														{% if case.image %}
															<img src="{{ case.image.url }}" alt="{{ case.name }}">
														{% else %}
															<img src="{% static 'img/pr_item1.png' %}" alt="{{ case.name }}">
														{% endif %}
													</div>
													<p class="price_item_name">{{ case.name }}</p>
													<span class="price_item_cost">${{ case.price }}</span>
												</a>
											</div>
										{% empty %}
											<p>No cases in this category yet.</p>
										{% endfor %}
									</div>
								</div>
							{% endfor %}
						{% else %}
							<p>No categories found.</p>
						{% endif %}
						<div class="botblock"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>

</body>
</html>